.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PACIFICO */
@font-face {
  font-family: 'PACIFICO';
  src:
  url('./fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
  /*
   For other font file formats:
  src:
  url('../fonts/WOF2-Font.woff2') format('woff2'),
  url('../fonts/WOF-Font.woff') format('woff'),
  url('../fonts/TTF-Font.ttf') format('truetype');
  */
  font-weight: normal;
  font-style: normal;
}